<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="container">

        <div class="header">
            <h2>Create Order</h2>
        </div>

        <form id="myform" class="myform">

            <span id="SelectedUserName"></span>
            <button id="CartButton">Cart</button><br />

            <div id="ListGames">
                <ul id="ListOfGames">
                </ul>
            </div>

            <div id="CartList">
                <div id="CartofList">
                </div>
            </div>

            <button id="BuyCart">Buy Now</button>
            @*<label for="Password">Password</label><br />
        <input id="Password" type="password" name="Password" /><br />*@

        </form>
    </div>
    <script src="~/ClientSide/JS/Order/CreateOrder.js"></script>
</body>
</html>
