<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
    <div class="container">

        <div class="header">
            <h2>LogIn Player</h2>
        </div>

        <form id="myform" class="myform">
            <label for="UserName">User Name</label><br />
            <input id="UserName" type="text" name="UserName" /><br />

            <label for="Password">Password</label><br />
            <input id="Password" type="password" name="Password" /><br />

            <button id="login" type="submit">Log In</button>
        </form>
    </div>
    <script src="~/ClientSide/JS/Player/LogIn.js"></script>
</body>
</html>
